@model DIENMAYQUYETTIEN2.Models.Contact
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Main/Views/Shared/_Admin_Layout.cshtml";
}

            
        <div class="main">
            <h1 style="text-align: center">GIỚI THIỆU VỀ CỬA HÀNG QUYẾT TIẾN</h1>
            <span>
                <div>
                    <a href="quyettien.com">Cửa hàng Quyết Tiến</a> được thành lập vào 12/2010, là chuỗi bán hàng điện máy <strong>lớn nhất cả nước</strong> với hơn 999 cửa hàng chi nhánh tại 63 tỉnh thành.
                    Với tầm nhìn chiến lược kinh doanh và những nỗ lực không ngừng , Quyết Tiến đã trở thành một trong những thương hiệu bán lẻ<strong> số 1 Việt Nam</strong>. Hàng hóa tại các <a href="quyettien.com"> cửa hàng Quyết Tiến</a> vô cùng đa dạng, từ các nhóm hàng lớn như<em>: Tivi, Tủ lạnh, Máy giặt, Máy lạnh</em>,... đến các nhóm hàng gia dụng như:<em> Nồi Cơm Điện, Bếp Ga, Bếp Điện Từ</em>,..
                    <div>
                        Với phương châm <strong>"Tất cả vì khách hàng"</strong> và định hướng tiến tới trong tương lai, <a href="quyettien.com">Quyết Tiến</a> luôn nổ lực không ngừng để cung cấp cho khách hàng những<strong> chất lượng tốt nhất</strong>. Sự tin tưởng và ủng hộ của khách hàng trong thời gian vừa qua là nguồn động viên to lớn trên bước đường phát triển của<a href="quyettien.com"> Quyết Tiến</a> chúng tôi.
                    </div>
                </div>
                <div>
                    <h2 style="text-align: center">TỔNG ĐÀI HỖ TRỢ KHÁCH HÀNG</h2>
                    <ul style=”list-style-type: square;”>
                        <li>Tổng đài bán hàng(24/7)<strong>: 1111.2222</strong></li>
                        <li>Khiếu nại(24/7)<strong>; 1111.3333</strong></li>
                        <li>Hỗ trợ khách hàng(24/7)<strong>: 1111.4444</strong></li>
                    </ul>
                    <img src="http://dienlanhsach.com/wp-content/uploads/2018/06/sua-may-lanh-gia-re-dong-nai-1.jpg" style="width: 100%">
                </div>
            </span>
        </div>
   

