@model IEnumerable<DIENMAYQUYETTIEN2.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Main/Views/Shared/_Admin_Layout.cshtml";
}

    <!-- menu_main -->
    <!-- Main container -->
    <div id="main_container" class="wrap">
        <div class="container">
            <div class="promotion_box1">
                <img src="http://luatsu-vn.com/wp-content/uploads/2018/07/Th%C3%B4ng-b%C3%A1o-s%E1%BB%ADa-%C4%91%E1%BB%95i-b%E1%BB%95-sung-n%E1%BB%99i-dung-ch%C6%B0%C6%A1ng-tr%C3%ACnh-khuy%E1%BA%BFn-m%C3%A3i-internet-660x330.png" alt="Khuyến mãi sốc - Giá cực Bốc" style="margin: 0px 10%; width: 80%; height: 300px" />
                <div class="description">
                </div>
            </div>
            <div class="promotion_box2 mt30">
                <h3>CHƯƠNG TRÌNH KHUYẾN MÃI CỦA SMART STORE</h3>
                <div class="row">
                </div>
            </div>
        </div>
        <script>
            var is_promotion_private = 0;
        </script>
        <div class="promotion_box3 mt20">
            <div class="tab_product" id="tab_product">
                <a class="active" href="#khuyen-mai-soc-gia-cuc-boc-137.html#tab_product">Sản phẩm trong CTKM</a>
            </div>
            <div class="list_product col-12 mt20">
                <div class="row">
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#giuong-benh-da-nang-mkc-tach-thanh-xe-lan-dieu-khien-co-tay-6044.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Giường bệnh đa năng MKC tách thành xe lăn điều khiển cơ tay" class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#giuong-benh-da-nang-mkc-tach-thanh-xe-lan-dieu-khien-co-tay-6044.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown6044">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#giuong-benh-da-nang-mkc-tach-thanh-xe-lan-dieu-khien-co-tay-6044.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">19,850,000đ</span>
                                <span class="price_old price_old6044" id="">25,890,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="6044"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#giuong-benh-da-nang-mkc-5-tay-quay-6046.html" title="Giường bệnh đa năng MKC 5 tay quay">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Giường bệnh đa năng MKC 5 tay quay" class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#giuong-benh-da-nang-mkc-5-tay-quay-6046.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown6046">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#giuong-benh-da-nang-mkc-5-tay-quay-6046.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">11,700,000đ</span>
                                <span class="price_old price_old6046" id="">18,500,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="6046"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#giuong-benh-da-nang-mkc-4-tay-quay-6045.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#giuong-benh-da-nang-mkc-4-tay-quay-6045.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown6045">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#giuong-benh-da-nang-mkc-4-tay-quay-6045.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">11,300,000đ</span>
                                <span class="price_old price_old6045" id="">16,500,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="6045"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#sofa-giuong-da-nang-xanh-duong-8254.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#sofa-giuong-da-nang-xanh-duong-8254.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown8254">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#sofa-giuong-da-nang-xanh-duong-8254.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">12,800,000đ</span>
                                <span class="price_old price_old8254" id="">16,500,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="8254"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#sofa-giuong-da-nang-ghi-sang-8258.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#sofa-giuong-da-nang-ghi-sang-8258.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown8258">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#sofa-giuong-da-nang-ghi-sang-8258.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">12,800,000đ</span>
                                <span class="price_old price_old8258" id="">16,500,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="8258"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#dong-ho-lucien-piccard-orion-rose-tone-stainless-steel-silver-tone-dial-5337.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#dong-ho-lucien-piccard-orion-rose-tone-stainless-steel-silver-tone-dial-5337.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown5337">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#dong-ho-lucien-piccard-orion-rose-tone-stainless-steel-silver-tone-dial-5337.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">2,250,000đ</span>
                                <span class="price_old price_old5337" id="">4,000,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="5337"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#nuoc-hoa-hermer-paris-eau-de-gentiane-blanche-5223.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#nuoc-hoa-hermer-paris-eau-de-gentiane-blanche-5223.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown5223">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#nuoc-hoa-hermer-paris-eau-de-gentiane-blanche-5223.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">2,245,000đ</span>
                                <span class="price_old price_old5223" id="">3,500,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="5223"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#on-ap-lioa-1p-sh-3kva-sh-3000-3218.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Ổn Áp LIOA 1P SH-3KVA – SH-3000" class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#on-ap-lioa-1p-sh-3kva-sh-3000-3218.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown3218">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#on-ap-lioa-1p-sh-3kva-sh-3000-3218.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">2,040,000đ</span>
                                <span class="price_old price_old3218" id="">2,149,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="3218"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#giay-luoi-cong-so-james-blanc-da-tron-mau-den-jb-3037-7251.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#giay-luoi-cong-so-james-blanc-da-tron-mau-den-jb-3037-7251.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown7251">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#giay-luoi-cong-so-james-blanc-da-tron-mau-den-jb-3037-7251.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">1,680,000đ</span>
                                <span class="price_old price_old7251" id="">2,100,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="7251"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#giay-luoi-cong-so-james-blanc-da-tron-3037-5789.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#giay-luoi-cong-so-james-blanc-da-tron-3037-5789.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown5789">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#giay-luoi-cong-so-james-blanc-da-tron-3037-5789.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">1,680,000đ</span>
                                <span class="price_old price_old5789" id="">2,100,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="5789"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#dong-ho-nu-akribos-xxiv-ak756ss-brillianaire-crystal-accented-5330.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#dong-ho-nu-akribos-xxiv-ak756ss-brillianaire-crystal-accented-5330.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown5330">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#dong-ho-nu-akribos-xxiv-ak756ss-brillianaire-crystal-accented-5330.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">2,100,000đ</span>
                                <span class="price_old price_old5330" id="">4,000,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="5330"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#kinh-mat-calvin-klein-ck7870sp-020-rectangle-oyster-sunglasses-5212.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#kinh-mat-calvin-klein-ck7870sp-020-rectangle-oyster-sunglasses-5212.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown5212">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#kinh-mat-calvin-klein-ck7870sp-020-rectangle-oyster-sunglasses-5212.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">2,100,000đ</span>
                                <span class="price_old price_old5212" id="">4,000,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="5212"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#kinh-mat-nu-bebe-eclectic-square-silver-tone-sunglasses-5213.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#kinh-mat-nu-bebe-eclectic-square-silver-tone-sunglasses-5213.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown5213">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#kinh-mat-nu-bebe-eclectic-square-silver-tone-sunglasses-5213.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">2,050,000đ</span>
                                <span class="price_old price_old5213" id="">4,000,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="5213"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#giay-bot-cot-day-da-bo-hai-nancy-1827d-7228.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#giay-bot-cot-day-da-bo-hai-nancy-1827d-7228.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown7228">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#giay-bot-cot-day-da-bo-hai-nancy-1827d-7228.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">1,631,200đ</span>
                                <span class="price_old price_old7228" id="">2,039,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="7228"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item col-md-3 col-sm-3 col-xs-6 col-tn-12 mb20">
                        <div class="warp">
                            <div class="ava">
                                <a href="#dong-ho-nam-august-steiner-as8060ttg-quartz-multi-function-5227.html" title="Lorem Ipsum is simply ">
                                    <img src="https://images.homedepot-static.com/productImages/a8129b98-f054-4d52-876f-3bfb4d8857a3/svn/amplifi-smart-routers-accessories-afir-64_1000.jpg" alt="Lorem Ipsum is simply " class="img_thumb thumb_size_1x1 lazyload" draggable="false" />
                                </a>
                                <a href="#dong-ho-nam-august-steiner-as8060ttg-quartz-multi-function-5227.html" disabled class="view">Xem chi tiết</a>
                            </div>
                            <div class="content">
                                <div class="start-time countdown5227">
                                    <strong>Khuyến mãi đã hết hạn</strong>
                                </div>
                                <h3><a href="#dong-ho-nam-august-steiner-as8060ttg-quartz-multi-function-5227.html">Lorem Ipsum is simply </a></h3>
                                <span class="price">2,000,000đ</span>
                                <span class="price_old price_old5227" id="">3,900,000đ</span>
                                <div class="full-icon">
                                    <span class="icon pt"></span>
                                    <span class="icon gim btn_like_product" data-id="5227"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="text-center" id="pagination">
                    <ul class="pagination">
                        <li class="active"><a href="javascript:void(0)">1</a></li>
                        <li><a href="#khuyen-mai-soc-gia-cuc-boc-137-p2.html#list-product">Trang sau</a></li>
                        <li><a href="#khuyen-mai-soc-gia-cuc-boc-137-p9.html#list-product">Trang cuối</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            OnlineFriday.initShare();
            OnlineFriday.initLike();

        });
    </script>
    <script>gtag('event', 'Promotion_Display', { 'event_category': 'Promotion', 'event_label': '137' });</script>
    <!-- Footer -->
    <div class="footer" style="margin-top: 150px;">
        <div class="wrapper">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Customer Service</a></li>
                        <li><a href="#"><span>Advanced Search</span></a></li>
                        <li><a href="#">Orders and Returns</a></li>
                        <li><a href="#"><span>Contact Us</span></a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Why buy from us</h4>
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="faq.html">Customer Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="contact.html"><span>Site Map</span></a></li>
                        <li><a href="preview-2.html"><span>Search Terms</span></a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>My account</h4>
                    <ul>
                        <li><a href="contact.html">Sign In</a></li>
                        <li><a href="index.html">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="faq.html">Help</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h4>Contact</h4>
                    <ul>
                        <li><span>+91-123-456789</span></li>
                        <li><span>+00-123-000000</span></li>
                    </ul>
                    <div class="social-icons">
                        <h4>Follow Us</h4>
                        <ul>
                            <li class="facebook"><a href="#" target="_blank"> </a></li>
                            <li class="twitter"><a href="#" target="_blank"> </a></li>
                            <li class="googleplus"><a href="#" target="_blank"> </a></li>
                            <li class="contact"><a href="#" target="_blank"> </a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copy_right">
                <p>© 2013 Smart Store. All Rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a> </p>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase-messaging.js"></script>
    <script type="text/javascript" src="https://sto.onlinefriday.vn/theme/frontend/default/js/validator.js"></script>
    <script type="text/javascript" src="https://sto.onlinefriday.vn/theme/frontend/default/js/common.min.js?v=26"></script>
    <script type="text/javascript" src="https://sto.onlinefriday.vn/theme/frontend/default/js/lazyload.min.js"></script>
    <script type="text/javascript" src="https://sto.onlinefriday.vn/theme/frontend/default/lib/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="https://sto.onlinefriday.vn/theme/frontend/default/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
        $(".download_app .down").click(function () {
            $(".download_app .warp").slideToggle("slow", function () {
            });
        });
        $("img.lazyload").lazyload();
    </script>
    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 945980752;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/945980752/?guid=ON&amp;script=0" />
        </div>
    </noscript>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=351513771641291';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>